@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 250, 232, 255; /* Correspond à bg-fuchsia-50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}